In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('flight_delays_train.csv')
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y
...,...,...,...,...,...,...,...,...,...
99995,c-5,c-4,c-3,1618,OO,SFO,RDD,199,N
99996,c-1,c-18,c-3,804,CO,EWR,DAB,884,N
99997,c-1,c-24,c-2,1901,NW,DTW,IAH,1076,N
99998,c-4,c-27,c-4,1515,MQ,DFW,GGG,140,N
99999,c-11,c-17,c-4,1800,WN,SEA,SMF,605,N

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month              100000 non-null  object
 1   DayofMonth         100000 non-null  object
 2   DayOfWeek          100000 non-null  object
 3   DepTime            100000 non-null  int64
 4   UniqueCarrier      100000 non-null  object
 5   Origin             100000 non-null  object
 6   Dest               100000 non-null  object
 7   Distance           100000 non-null  int64
 8   dep_delayed_15min  100000 non-null  object
dtypes: int64(2), object(7)
memory usage: 6.9+ MB

In [4]:
df_train.describe()

             DepTime      Distance
count  100000.000000  100000.00000
mean     1341.523880     729.39716
std       476.378445     574.61686
min         1.000000      30.00000
25%       931.000000     317.00000
50%      1330.000000     575.00000
75%      1733.000000     957.00000
max      2534.000000    4962.00000

In [5]:
df_train['DayOfWeek'].unique()

array(['c-7', 'c-3', 'c-5', 'c-6', 'c-4', 'c-2', 'c-1'], dtype=object)

In [6]:
df_train['UniqueCarrier'].unique()

array(['AA', 'US', 'XE', 'OO', 'WN', 'NW', 'DL', 'OH', 'AS', 'UA', 'MQ',
       'CO', 'EV', 'DH', 'YV', 'F9', 'AQ', 'TZ', 'HP', 'B6', 'FL', 'HA'],
      dtype=object)

In [7]:
df_train['DepHour'] = pd.cut(df_train.DepTime.astype(int), bins=[t for t in range(0,2700,100)], labels=[str(h) for h in range(1,27)])
df_train['Route'] = df_train['Origin'] + "-" + df_train['Dest']
df_train['Carrier_Origin'] = df_train['UniqueCarrier'] + "-" + df_train['Origin']
df_train['Carrier_Dest'] = df_train['UniqueCarrier'] + "-" + df_train['Dest']
df_train['Carrier_DepHour'] = df_train['UniqueCarrier'] + '-' + df_train['DepHour'].astype('str')
df_train['Route_DepHour'] = df_train['Route'] +  '-' + df_train['DepHour'].astype('str')
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N,20,ATL-DFW,AA-ATL,AA-DFW,AA-20,ATL-DFW-20
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N,16,PIT-MCO,US-PIT,US-MCO,US-16,PIT-MCO-16
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N,15,RDU-CLE,XE-RDU,XE-CLE,XE-15,RDU-CLE-15
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N,11,DEN-MEM,OO-DEN,OO-MEM,OO-11,DEN-MEM-11
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y,19,MDW-OMA,WN-MDW,WN-OMA,WN-19,MDW-OMA-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,c-5,c-4,c-3,1618,OO,SFO,RDD,199,N,17,SFO-RDD,OO-SFO,OO-RDD,OO-17,SFO-RDD-17
99996,c-1,c-18,c-3,804,CO,EWR,DAB,884,N,9,EWR-DAB,CO-EWR,CO-DAB,CO-9,EWR-DAB-9
99997,c-1,c-24,c-2,1901,NW,DTW,IAH,1076,N,20,DTW-IAH,NW-DTW,NW-IAH,NW-20,DTW-IAH-20
99998,c-4,c-27,c-4,1515,MQ,DFW,GGG,140,N,16,DFW-GGG,MQ-DFW,MQ-GGG,MQ-16,DFW-GGG-16
99999,c-11,c-17,c-4,1800,WN,SEA,SMF,605,N,18,SEA-SMF,WN-SEA,WN-SMF,WN-18,SEA-SMF-18

In [8]:
Map = {}
count = 0
for i in df_train['UniqueCarrier'].unique():
    Map[i] = count
    count+=1

In [9]:
df_train['UniqueCarrier'] = df_train['UniqueCarrier'].map(Map)
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,c-8,c-21,c-7,1934,0,ATL,DFW,732,N,20,ATL-DFW,AA-ATL,AA-DFW,AA-20,ATL-DFW-20
1,c-4,c-20,c-3,1548,1,PIT,MCO,834,N,16,PIT-MCO,US-PIT,US-MCO,US-16,PIT-MCO-16
2,c-9,c-2,c-5,1422,2,RDU,CLE,416,N,15,RDU-CLE,XE-RDU,XE-CLE,XE-15,RDU-CLE-15
3,c-11,c-25,c-6,1015,3,DEN,MEM,872,N,11,DEN-MEM,OO-DEN,OO-MEM,OO-11,DEN-MEM-11
4,c-10,c-7,c-6,1828,4,MDW,OMA,423,Y,19,MDW-OMA,WN-MDW,WN-OMA,WN-19,MDW-OMA-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,c-5,c-4,c-3,1618,3,SFO,RDD,199,N,17,SFO-RDD,OO-SFO,OO-RDD,OO-17,SFO-RDD-17
99996,c-1,c-18,c-3,804,11,EWR,DAB,884,N,9,EWR-DAB,CO-EWR,CO-DAB,CO-9,EWR-DAB-9
99997,c-1,c-24,c-2,1901,5,DTW,IAH,1076,N,20,DTW-IAH,NW-DTW,NW-IAH,NW-20,DTW-IAH-20
99998,c-4,c-27,c-4,1515,10,DFW,GGG,140,N,16,DFW-GGG,MQ-DFW,MQ-GGG,MQ-16,DFW-GGG-16
99999,c-11,c-17,c-4,1800,4,SEA,SMF,605,N,18,SEA-SMF,WN-SEA,WN-SMF,WN-18,SEA-SMF-18

In [10]:
df_train['Month'] = df_train['Month'].str.replace('c-', '').astype(int)
df_train['DayofMonth'] = df_train['DayofMonth'].str.replace('c-', '').astype(int)
df_train['DayOfWeek'] = df_train['DayOfWeek'].str.replace('c-', '').astype(int)
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,8,21,7,1934,0,ATL,DFW,732,N,20,ATL-DFW,AA-ATL,AA-DFW,AA-20,ATL-DFW-20
1,4,20,3,1548,1,PIT,MCO,834,N,16,PIT-MCO,US-PIT,US-MCO,US-16,PIT-MCO-16
2,9,2,5,1422,2,RDU,CLE,416,N,15,RDU-CLE,XE-RDU,XE-CLE,XE-15,RDU-CLE-15
3,11,25,6,1015,3,DEN,MEM,872,N,11,DEN-MEM,OO-DEN,OO-MEM,OO-11,DEN-MEM-11
4,10,7,6,1828,4,MDW,OMA,423,Y,19,MDW-OMA,WN-MDW,WN-OMA,WN-19,MDW-OMA-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5,4,3,1618,3,SFO,RDD,199,N,17,SFO-RDD,OO-SFO,OO-RDD,OO-17,SFO-RDD-17
99996,1,18,3,804,11,EWR,DAB,884,N,9,EWR-DAB,CO-EWR,CO-DAB,CO-9,EWR-DAB-9
99997,1,24,2,1901,5,DTW,IAH,1076,N,20,DTW-IAH,NW-DTW,NW-IAH,NW-20,DTW-IAH-20
99998,4,27,4,1515,10,DFW,GGG,140,N,16,DFW-GGG,MQ-DFW,MQ-GGG,MQ-16,DFW-GGG-16
99999,11,17,4,1800,4,SEA,SMF,605,N,18,SEA-SMF,WN-SEA,WN-SMF,WN-18,SEA-SMF-18

In [11]:
Map = {}
count = 0
for i in df_train['Route'].unique():
    Map[i] = count
    count+=1
    
df_train['Route'] = df_train['Route'].map(Map)
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,8,21,7,1934,0,ATL,DFW,732,N,20,0,AA-ATL,AA-DFW,AA-20,ATL-DFW-20
1,4,20,3,1548,1,PIT,MCO,834,N,16,1,US-PIT,US-MCO,US-16,PIT-MCO-16
2,9,2,5,1422,2,RDU,CLE,416,N,15,2,XE-RDU,XE-CLE,XE-15,RDU-CLE-15
3,11,25,6,1015,3,DEN,MEM,872,N,11,3,OO-DEN,OO-MEM,OO-11,DEN-MEM-11
4,10,7,6,1828,4,MDW,OMA,423,Y,19,4,WN-MDW,WN-OMA,WN-19,MDW-OMA-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5,4,3,1618,3,SFO,RDD,199,N,17,764,OO-SFO,OO-RDD,OO-17,SFO-RDD-17
99996,1,18,3,804,11,EWR,DAB,884,N,9,2904,CO-EWR,CO-DAB,CO-9,EWR-DAB-9
99997,1,24,2,1901,5,DTW,IAH,1076,N,20,491,NW-DTW,NW-IAH,NW-20,DTW-IAH-20
99998,4,27,4,1515,10,DFW,GGG,140,N,16,2258,MQ-DFW,MQ-GGG,MQ-16,DFW-GGG-16
99999,11,17,4,1800,4,SEA,SMF,605,N,18,1094,WN-SEA,WN-SMF,WN-18,SEA-SMF-18

In [12]:
Map = {}
count = 0
for i in df_train['Carrier_Origin'].unique():
    Map[i] = count
    count+=1
    
df_train['Carrier_Origin'] = df_train['Carrier_Origin'].map(Map)
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,8,21,7,1934,0,ATL,DFW,732,N,20,0,0,AA-DFW,AA-20,ATL-DFW-20
1,4,20,3,1548,1,PIT,MCO,834,N,16,1,1,US-MCO,US-16,PIT-MCO-16
2,9,2,5,1422,2,RDU,CLE,416,N,15,2,2,XE-CLE,XE-15,RDU-CLE-15
3,11,25,6,1015,3,DEN,MEM,872,N,11,3,3,OO-MEM,OO-11,DEN-MEM-11
4,10,7,6,1828,4,MDW,OMA,423,Y,19,4,4,WN-OMA,WN-19,MDW-OMA-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5,4,3,1618,3,SFO,RDD,199,N,17,764,188,OO-RDD,OO-17,SFO-RDD-17
99996,1,18,3,804,11,EWR,DAB,884,N,9,2904,169,CO-DAB,CO-9,EWR-DAB-9
99997,1,24,2,1901,5,DTW,IAH,1076,N,20,491,109,NW-IAH,NW-20,DTW-IAH-20
99998,4,27,4,1515,10,DFW,GGG,140,N,16,2258,50,MQ-GGG,MQ-16,DFW-GGG-16
99999,11,17,4,1800,4,SEA,SMF,605,N,18,1094,39,WN-SMF,WN-18,SEA-SMF-18

In [13]:
Map = {}
count = 0
for i in df_train['Carrier_Dest'].unique():
    Map[i] = count
    count+=1
    
df_train['Carrier_Dest'] = df_train['Carrier_Dest'].map(Map)
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,8,21,7,1934,0,ATL,DFW,732,N,20,0,0,0,AA-20,ATL-DFW-20
1,4,20,3,1548,1,PIT,MCO,834,N,16,1,1,1,US-16,PIT-MCO-16
2,9,2,5,1422,2,RDU,CLE,416,N,15,2,2,2,XE-15,RDU-CLE-15
3,11,25,6,1015,3,DEN,MEM,872,N,11,3,3,3,OO-11,DEN-MEM-11
4,10,7,6,1828,4,MDW,OMA,423,Y,19,4,4,4,WN-19,MDW-OMA-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5,4,3,1618,3,SFO,RDD,199,N,17,764,188,401,OO-17,SFO-RDD-17
99996,1,18,3,804,11,EWR,DAB,884,N,9,2904,169,1238,CO-9,EWR-DAB-9
99997,1,24,2,1901,5,DTW,IAH,1076,N,20,491,109,321,NW-20,DTW-IAH-20
99998,4,27,4,1515,10,DFW,GGG,140,N,16,2258,50,1014,MQ-16,DFW-GGG-16
99999,11,17,4,1800,4,SEA,SMF,605,N,18,1094,39,32,WN-18,SEA-SMF-18

In [14]:
Map = {}
count = 0
for i in df_train['Route_DepHour'].unique():
    Map[i] = count
    count+=1
    
df_train['Route_DepHour'] = df_train['Route_DepHour'].map(Map)
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,8,21,7,1934,0,ATL,DFW,732,N,20,0,0,0,AA-20,0
1,4,20,3,1548,1,PIT,MCO,834,N,16,1,1,1,US-16,1
2,9,2,5,1422,2,RDU,CLE,416,N,15,2,2,2,XE-15,2
3,11,25,6,1015,3,DEN,MEM,872,N,11,3,3,3,OO-11,3
4,10,7,6,1828,4,MDW,OMA,423,Y,19,4,4,4,WN-19,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5,4,3,1618,3,SFO,RDD,199,N,17,764,188,401,OO-17,21551
99996,1,18,3,804,11,EWR,DAB,884,N,9,2904,169,1238,CO-9,12868
99997,1,24,2,1901,5,DTW,IAH,1076,N,20,491,109,321,NW-20,16090
99998,4,27,4,1515,10,DFW,GGG,140,N,16,2258,50,1014,MQ-16,32749
99999,11,17,4,1800,4,SEA,SMF,605,N,18,1094,39,32,WN-18,25292

In [15]:
Map = {}
count = 0
for i in df_train['Carrier_DepHour'].unique():
    Map[i] = count
    count+=1
    
df_train['Carrier_DepHour'] = df_train['Carrier_DepHour'].map(Map)
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,8,21,7,1934,0,ATL,DFW,732,N,20,0,0,0,0,0
1,4,20,3,1548,1,PIT,MCO,834,N,16,1,1,1,1,1
2,9,2,5,1422,2,RDU,CLE,416,N,15,2,2,2,2,2
3,11,25,6,1015,3,DEN,MEM,872,N,11,3,3,3,3,3
4,10,7,6,1828,4,MDW,OMA,423,Y,19,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5,4,3,1618,3,SFO,RDD,199,N,17,764,188,401,143,21551
99996,1,18,3,804,11,EWR,DAB,884,N,9,2904,169,1238,270,12868
99997,1,24,2,1901,5,DTW,IAH,1076,N,20,491,109,321,5,16090
99998,4,27,4,1515,10,DFW,GGG,140,N,16,2258,50,1014,26,32749
99999,11,17,4,1800,4,SEA,SMF,605,N,18,1094,39,32,32,25292

In [16]:
df_train['dep_delayed_15min'] = df_train['dep_delayed_15min'].map({'N':0,'Y':1})
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,8,21,7,1934,0,ATL,DFW,732,0,20,0,0,0,0,0
1,4,20,3,1548,1,PIT,MCO,834,0,16,1,1,1,1,1
2,9,2,5,1422,2,RDU,CLE,416,0,15,2,2,2,2,2
3,11,25,6,1015,3,DEN,MEM,872,0,11,3,3,3,3,3
4,10,7,6,1828,4,MDW,OMA,423,1,19,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5,4,3,1618,3,SFO,RDD,199,0,17,764,188,401,143,21551
99996,1,18,3,804,11,EWR,DAB,884,0,9,2904,169,1238,270,12868
99997,1,24,2,1901,5,DTW,IAH,1076,0,20,491,109,321,5,16090
99998,4,27,4,1515,10,DFW,GGG,140,0,16,2258,50,1014,26,32749
99999,11,17,4,1800,4,SEA,SMF,605,0,18,1094,39,32,32,25292

In [17]:
origin = {}
dest = {}
count = 0

for i in df_train['Origin'].unique():
    origin[i] = count
    count+=1
count = 0
for i in df_train['Dest'].unique():
    dest[i] = count
    count+=1

df_train['Origin'] = df_train['Origin'].map(origin)
df_train['Dest'] = df_train['Dest'].map(dest)
df_train

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,8,21,7,1934,0,0,0,732,0,20,0,0,0,0,0
1,4,20,3,1548,1,1,1,834,0,16,1,1,1,1,1
2,9,2,5,1422,2,2,2,416,0,15,2,2,2,2,2
3,11,25,6,1015,3,3,3,872,0,11,3,3,3,3,3
4,10,7,6,1828,4,4,4,423,1,19,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5,4,3,1618,3,28,143,199,0,17,764,188,401,143,21551
99996,1,18,3,804,11,60,163,884,0,9,2904,169,1238,270,12868
99997,1,24,2,1901,5,66,12,1076,0,20,491,109,321,5,16090
99998,4,27,4,1515,10,12,226,140,0,16,2258,50,1014,26,32749
99999,11,17,4,1800,4,30,26,605,0,18,1094,39,32,32,25292

In [18]:
df_test = pd.read_csv('flight_delays_test.csv')
df_test

      Month DayofMonth DayOfWeek  DepTime UniqueCarrier Origin Dest  Distance
0       c-7       c-25       c-3      615            YV    MRY  PHX       598
1       c-4       c-17       c-2      739            WN    LAS  HOU      1235
2      c-12        c-2       c-7      651            MQ    GSP  ORD       577
3       c-3       c-25       c-7     1614            WN    BWI  MHT       377
4       c-6        c-6       c-3     1505            UA    ORD  STL       258
...     ...        ...       ...      ...           ...    ...  ...       ...
99995   c-6        c-5       c-2      852            WN    CRP  HOU       187
99996  c-11       c-24       c-6     1446            UA    ORD  LAS      1515
99997   c-1       c-30       c-2     1509            OO    ORD  SGF       438
99998   c-1        c-5       c-5      804            DL    LGA  ATL       761
99999  c-10       c-29       c-1      834            OO    MKE  MSP       297

[100000 rows x 8 columns]

In [19]:
df_test['DepHour'] = pd.cut(df_test['DepTime'].astype(int), bins=[t for t in range(0,2700,100)], labels=[str(h) for h in range(1,27)])
df_test['Route'] = df_test['Origin'] + "-" + df_test['Dest']
df_test['Carrier_Origin'] = df_test['UniqueCarrier'] + "-" + df_test['Origin']
df_test['Carrier_Dest'] = df_test['UniqueCarrier'] + "-" + df_test['Dest']
df_test['Carrier_DepHour'] = df_test['UniqueCarrier'] + '-' + df_test['DepHour'].astype('str')
df_test['Route_DepHour'] = df_test['Route'] +  '-' + df_test['DepHour'].astype('str')
df_test

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,c-7,c-25,c-3,615,YV,MRY,PHX,598,7,MRY-PHX,YV-MRY,YV-PHX,YV-7,MRY-PHX-7
1,c-4,c-17,c-2,739,WN,LAS,HOU,1235,8,LAS-HOU,WN-LAS,WN-HOU,WN-8,LAS-HOU-8
2,c-12,c-2,c-7,651,MQ,GSP,ORD,577,7,GSP-ORD,MQ-GSP,MQ-ORD,MQ-7,GSP-ORD-7
3,c-3,c-25,c-7,1614,WN,BWI,MHT,377,17,BWI-MHT,WN-BWI,WN-MHT,WN-17,BWI-MHT-17
4,c-6,c-6,c-3,1505,UA,ORD,STL,258,16,ORD-STL,UA-ORD,UA-STL,UA-16,ORD-STL-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,c-6,c-5,c-2,852,WN,CRP,HOU,187,9,CRP-HOU,WN-CRP,WN-HOU,WN-9,CRP-HOU-9
99996,c-11,c-24,c-6,1446,UA,ORD,LAS,1515,15,ORD-LAS,UA-ORD,UA-LAS,UA-15,ORD-LAS-15
99997,c-1,c-30,c-2,1509,OO,ORD,SGF,438,16,ORD-SGF,OO-ORD,OO-SGF,OO-16,ORD-SGF-16
99998,c-1,c-5,c-5,804,DL,LGA,ATL,761,9,LGA-ATL,DL-LGA,DL-ATL,DL-9,LGA-ATL-9
99999,c-10,c-29,c-1,834,OO,MKE,MSP,297,9,MKE-MSP,OO-MKE,OO-MSP,OO-9,MKE-MSP-9

In [20]:
Map = {}
count = 0
for i in df_test['UniqueCarrier'].unique():
    Map[i] = count
    count+=1

In [21]:
df_test['UniqueCarrier'] = df_test['UniqueCarrier'].map(Map)
df_test

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,c-7,c-25,c-3,615,0,MRY,PHX,598,7,MRY-PHX,YV-MRY,YV-PHX,YV-7,MRY-PHX-7
1,c-4,c-17,c-2,739,1,LAS,HOU,1235,8,LAS-HOU,WN-LAS,WN-HOU,WN-8,LAS-HOU-8
2,c-12,c-2,c-7,651,2,GSP,ORD,577,7,GSP-ORD,MQ-GSP,MQ-ORD,MQ-7,GSP-ORD-7
3,c-3,c-25,c-7,1614,1,BWI,MHT,377,17,BWI-MHT,WN-BWI,WN-MHT,WN-17,BWI-MHT-17
4,c-6,c-6,c-3,1505,3,ORD,STL,258,16,ORD-STL,UA-ORD,UA-STL,UA-16,ORD-STL-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,c-6,c-5,c-2,852,1,CRP,HOU,187,9,CRP-HOU,WN-CRP,WN-HOU,WN-9,CRP-HOU-9
99996,c-11,c-24,c-6,1446,3,ORD,LAS,1515,15,ORD-LAS,UA-ORD,UA-LAS,UA-15,ORD-LAS-15
99997,c-1,c-30,c-2,1509,9,ORD,SGF,438,16,ORD-SGF,OO-ORD,OO-SGF,OO-16,ORD-SGF-16
99998,c-1,c-5,c-5,804,11,LGA,ATL,761,9,LGA-ATL,DL-LGA,DL-ATL,DL-9,LGA-ATL-9
99999,c-10,c-29,c-1,834,9,MKE,MSP,297,9,MKE-MSP,OO-MKE,OO-MSP,OO-9,MKE-MSP-9

In [22]:
origin = {}
dest = {}
count = 0

for i in df_test['Origin'].unique():
    origin[i] = count
    count+=1
count = 0
for i in df_test['Dest'].unique():
    dest[i] = count
    count+=1

df_test['Origin'] = df_test['Origin'].map(origin)
df_test['Dest'] = df_test['Dest'].map(dest)
df_test

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,c-7,c-25,c-3,615,0,0,0,598,7,MRY-PHX,YV-MRY,YV-PHX,YV-7,MRY-PHX-7
1,c-4,c-17,c-2,739,1,1,1,1235,8,LAS-HOU,WN-LAS,WN-HOU,WN-8,LAS-HOU-8
2,c-12,c-2,c-7,651,2,2,2,577,7,GSP-ORD,MQ-GSP,MQ-ORD,MQ-7,GSP-ORD-7
3,c-3,c-25,c-7,1614,1,3,3,377,17,BWI-MHT,WN-BWI,WN-MHT,WN-17,BWI-MHT-17
4,c-6,c-6,c-3,1505,3,4,4,258,16,ORD-STL,UA-ORD,UA-STL,UA-16,ORD-STL-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,c-6,c-5,c-2,852,1,181,1,187,9,CRP-HOU,WN-CRP,WN-HOU,WN-9,CRP-HOU-9
99996,c-11,c-24,c-6,1446,3,4,39,1515,15,ORD-LAS,UA-ORD,UA-LAS,UA-15,ORD-LAS-15
99997,c-1,c-30,c-2,1509,9,4,147,438,16,ORD-SGF,OO-ORD,OO-SGF,OO-16,ORD-SGF-16
99998,c-1,c-5,c-5,804,11,24,16,761,9,LGA-ATL,DL-LGA,DL-ATL,DL-9,LGA-ATL-9
99999,c-10,c-29,c-1,834,9,91,37,297,9,MKE-MSP,OO-MKE,OO-MSP,OO-9,MKE-MSP-9

In [23]:
df_test['Month'] = df_test['Month'].str.replace('c-', '').astype(int)
df_test['DayofMonth'] = df_test['DayofMonth'].str.replace('c-', '').astype(int)
df_test['DayOfWeek'] = df_test['DayOfWeek'].str.replace('c-', '').astype(int)
df_test

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,7,25,3,615,0,0,0,598,7,MRY-PHX,YV-MRY,YV-PHX,YV-7,MRY-PHX-7
1,4,17,2,739,1,1,1,1235,8,LAS-HOU,WN-LAS,WN-HOU,WN-8,LAS-HOU-8
2,12,2,7,651,2,2,2,577,7,GSP-ORD,MQ-GSP,MQ-ORD,MQ-7,GSP-ORD-7
3,3,25,7,1614,1,3,3,377,17,BWI-MHT,WN-BWI,WN-MHT,WN-17,BWI-MHT-17
4,6,6,3,1505,3,4,4,258,16,ORD-STL,UA-ORD,UA-STL,UA-16,ORD-STL-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6,5,2,852,1,181,1,187,9,CRP-HOU,WN-CRP,WN-HOU,WN-9,CRP-HOU-9
99996,11,24,6,1446,3,4,39,1515,15,ORD-LAS,UA-ORD,UA-LAS,UA-15,ORD-LAS-15
99997,1,30,2,1509,9,4,147,438,16,ORD-SGF,OO-ORD,OO-SGF,OO-16,ORD-SGF-16
99998,1,5,5,804,11,24,16,761,9,LGA-ATL,DL-LGA,DL-ATL,DL-9,LGA-ATL-9
99999,10,29,1,834,9,91,37,297,9,MKE-MSP,OO-MKE,OO-MSP,OO-9,MKE-MSP-9

In [24]:
Map = {}
count = 0
for i in df_test['Route'].unique():
    Map[i] = count
    count+=1
    
df_test['Route'] = df_test['Route'].map(Map)

Map = {}
count = 0
for i in df_test['Carrier_Origin'].unique():
    Map[i] = count
    count+=1
    
df_test['Carrier_Origin'] = df_test['Carrier_Origin'].map(Map)

Map = {}
count = 0
for i in df_test['Carrier_DepHour'].unique():
    Map[i] = count
    count+=1
    
df_test['Carrier_DepHour'] = df_test['Carrier_DepHour'].map(Map)

Map = {}
count = 0
for i in df_test['Carrier_Dest'].unique():
    Map[i] = count
    count+=1
    
df_test['Carrier_Dest'] = df_test['Carrier_Dest'].map(Map)

Map = {}
count = 0
for i in df_test['Route_DepHour'].unique():
    Map[i] = count
    count+=1
    
df_test['Route_DepHour'] = df_test['Route_DepHour'].map(Map)

Map = {}
count = 0
for i in df_test['Carrier_DepHour'].unique():
    Map[i] = count
    count+=1
    
df_test['Carrier_DepHour'] = df_test['Carrier_DepHour'].map(Map)
df_test

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,DepHour,Route,Carrier_Origin,Carrier_Dest,Carrier_DepHour,Route_DepHour
0,7,25,3,615,0,0,0,598,7,0,0,0,0,0
1,4,17,2,739,1,1,1,1235,8,1,1,1,1,1
2,12,2,7,651,2,2,2,577,7,2,2,2,2,2
3,3,25,7,1614,1,3,3,377,17,3,3,3,3,3
4,6,6,3,1505,3,4,4,258,16,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6,5,2,852,1,181,1,187,9,1851,833,1,50,2834
99996,11,24,6,1446,3,4,39,1515,15,1736,4,55,81,15270
99997,1,30,2,1509,9,4,147,438,16,1270,11,625,244,23283
99998,1,5,5,804,11,24,16,761,9,45,95,118,53,9625
99999,10,29,1,834,9,91,37,297,9,3016,1008,983,14,19705

In [25]:
df_test.drop(['UniqueCarrier','DepHour'],axis=1,inplace=True)
df_train.drop(['UniqueCarrier','DepHour'],axis=1,inplace=True)

In [26]:
from sklearn.model_selection import train_test_split

X_train = df_train.drop('dep_delayed_15min',axis=1)
y_train = df_train.loc[:,'dep_delayed_15min']
X_test = df_test

In [27]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline

pipeline = Pipeline([('scaler', StandardScaler()), ('GBTC', GradientBoostingClassifier())])
pipeline

Pipeline(steps=[('scaler', StandardScaler()),
                ('GBTC', GradientBoostingClassifier())])

In [28]:
from sklearn.model_selection import GridSearchCV

parameteres = {'GBTC__criterion':['friedman_mse'],
               'GBTC__n_estimators':range(1000,1600,200),
               'GBTC__min_samples_split':range(500,1600,500),
               'GBTC__min_samples_leaf':[30,60,90],
               'GBTC__warm_start':[True],
               'GBTC__n_iter_no_change':[15],
               'GBTC__max_depth':[6,8,10]}

grid = GridSearchCV(pipeline, param_grid=parameteres,cv=5)

In [29]:
%%time
grid.fit(X_train,y_train)

Wall time: 8h 24min 9s

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('GBTC', GradientBoostingClassifier())]),
             param_grid={'GBTC__criterion': ['friedman_mse'],
                         'GBTC__max_depth': [6, 8, 10],
                         'GBTC__min_samples_leaf': [30, 60, 90],
                         'GBTC__min_samples_split': range(500, 1600, 500),
                         'GBTC__n_estimators': range(1000, 1600, 200),
                         'GBTC__n_iter_no_change': [15],
                         'GBTC__warm_start': [True]})

In [32]:
grid.best_params_

{'GBTC__criterion': 'friedman_mse',
 'GBTC__max_depth': 10,
 'GBTC__min_samples_leaf': 60,
 'GBTC__min_samples_split': 500,
 'GBTC__n_estimators': 1200,
 'GBTC__n_iter_no_change': 15,
 'GBTC__warm_start': True}

In [38]:
y_pred = grid.predict_proba(X_test)
y_pred

array([[0.97267204, 0.02732796],
       [0.95564971, 0.04435029],
       [0.98505346, 0.01494654],
       ...,
       [0.79980544, 0.20019456],
       [0.94010826, 0.05989174],
       [0.92896467, 0.07103533]])

In [39]:
sub = pd.DataFrame({'id': df_test.index, 'dep_delayed_15min': y_pred[:,1]})
sub.to_csv('submission.csv', index=False)